name: VulnScout CI kas

# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]

jobs:
  vulnscout-ci:
    runs-on: [self-hosted, linux]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Enable user namespaces
        run: |
          sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Install kas on the CI
        run: |
          which kas
          if [ $? -ne 0 ]; then
            pip3 install kas
          fi

      - name: Run vulnscout_ci and capture CVEs
        id: run_kas
        run: |
          kas build ./kas/main.yaml -- -c vulnscout_ci
