name: VulnScout CI cqfd + kas with comparing CVEs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  vulnscout-ci:
    runs-on: [self-hosted, linux]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Enable user namespaces
        run: |
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Install cqfd on the CI
        if: matrix.target != 'Docker'
        run: |
          git clone https://github.com/savoirfairelinux/cqfd.git
          cd cqfd
          sudo make install

      - name: Init cqfd container on the project
        if: matrix.target != 'Docker'
        run: cqfd init

      - name: Download previous CVE report
        id: download_previous
        uses: dawidd6/action-download-artifact@v3
        with:
          name: cve_report
          path: previous_cve_report
          workflow: vulnscout_ci.yml
          if_no_artifact_found: ignore

      - name: Check download status
        run: |
          if [ ! -f previous_cve_report/cve_report.txt ]; then
            echo "No previous CVE report found. This is the first run or previous artifacts have expired."
          else
            echo "Previous CVE report found and downloaded successfully."
          fi

      - name: Run vulnscout_ci and capture CVEs
        id: run_cqfd
        run: |
          set +e
          cqfd -b vulnscout_ci 2>&1 | tee cqfd_output.txt
          echo ${PIPESTATUS[0]} > cqfd_exit_code.txt
          grep -Eoi 'CVE-[0-9]{4}-[0-9]+' cqfd_output.txt | sort | uniq > cve_report.txt

      - name: Upload CVE report artifact
        uses: actions/upload-artifact@v4
        with:
          name: cve_report
          path: cve_report.txt

      - name: Cleanup workspace permissions
        if: always()
        run: sudo chown -R $USER .

      - name: Compare CVE reports
        run: |
          if [ -f cve_report.txt ] && [ -f previous_cve_report/cve_report.txt ]; then
            comm -13 <(sort previous_cve_report/cve_report.txt) <(sort cve_report.txt) > new_cves.txt
            comm -23 <(sort previous_cve_report/cve_report.txt) <(sort cve_report.txt) > fixed_cves.txt
            if [ -s new_cves.txt ]; then
              if [ -s fixed_cves.txt ]; then
                echo "Fixed CVEs: " && cat fixed_cves.txt
              fi
              echo "New CVEs detected:" && cat new_cves.txt
              exit 1
            else
            if [ -s fixed_cves.txt ]; then
                echo "Fixed CVEs: " && cat fixed_cves.txt
            fi
              echo "No new CVEs detected."
            fi
          else
            echo "No previous CVE report to compare. Skipping comparison."
          fi